body {
            font-size: large;
        }


        .datatype {
            color: rgb(84, 84, 226);
            font-style: italic;
        }

        .function {
            color: green;
            font-weight: bold;
        }

        .param {
            color: grey;
            font-weight: bold;
        }
