body {
    font-size: large;
}


.datatype {
    color: rgb(237, 234, 140);
    font-style: italic;
}

.function {
    color: rgb(250, 40, 61);
    font-weight: bold;
}

.param {
    color: rgb(16, 207, 232);
    font-weight: light;
}

